{% load static %}


<!DOCTYPE html>
<html lang="en">


<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/estilo.css' %}">
</head>


  <!--Container principal-->
	<div id="main-container">
		<!--Header-->
		<div id="header">
			<!--Menu-->
			<div id="logo">
				<h1>Auto<span id="branco">Nix</span></h1>
				<h5>Classi<span id="branco">ficados</span></h5>
			</div>
			<!--Menu-->
			<!-- Area do Menu-->
			<div id="menu">
				<a href="index.html">Home</a>
				<a href="carro.html">Carros</a>
				<a href="motos.html">Motos</a>
				<a href="anunciar.html">Como Anunciar seus veiculos</a>
				<a href="contato.html">Contatos</a>
			</div>
			<!-- Final da area de Menu-->
		</div>
		<!--fim Header-->

		<!--Conteudo -->
		{% block content %}{% endblock %}
		<!--Fim do Conteudo-->


       <!-- Area de busca-->
			<div id="col-busca">
				<h3>Procura por: </h3>
				<select id="caixa-selecao" name="opcao" id="opcao" onchange="AbrirSecao(this.value)">
					<option value="*" selected>Compra/Venda</option>
					<option value="carro.html">Compra</option>
					<option value="venda.html">Venda</option>
				</select>
				<!--Opçoes de veiculos-->
				<select id="caixa-selecao"name="veiculo" id="veiculo" onchange="AbrirSecao(this.value)">
					<option value="*" selected>Veiculos</option>
					<option value="carro.html">Carro</option>
					<option>Moto</option>
					<option>Caminhão</option>
					<option>Nautica</option>
				</select>

				<!--Marca-->
				<select id="caixa-selecao">
					<option value="*" selected>Marca</option>
					<option>AUDI</option>
					<option>BMW</option>
					<option>CAOA CHERY</option>
					<option>CHEVROLET</option>
					<option>CRYSLER</option>
					<option>CITRÖEN</option>
					<option>DODGE</option>
					<option>FIAT</option>
					<option>FORD</option>
					<option>HONDA</option>
					<option>HYUNDAI</option>
					<option>JAC</option>
					<option>JAGUAR</option>
					<option>JEEP</option>
					<option>KIA</option>
					<option>LAND ROVER</option>
					<option>MERCEDE-BENZ</option>
					<option>MITSUBISHI</option>
					<option>NISSAN</option>
					<option>PEGEOUT</option>
					<option>AUDI</option>
					<option>RENAULT</option>
					<option>SUZUKI</option>
					<option>TOYOTA</option>
					<option>TROLLER</option>
					<option>VOLKSWAGEM</option>
					<option>VOLVO</option>
					<option>YAMAHA</option>
				</select>
				<!--Ano-->
				<select id="caixa-selecao">
					<option value="*" selected>Ano</option>
					<option>2021</option>
					<option>2020</option>
					<option>2019</option>
					<option>2018</option>
					<option>2017</option>
					<option>2016</option>
					<option>2015</option>
					<option>2014</option>
					<option>2013</option>
					<option>2012</option>
					<option>2011</option>
					<option>2010</option>
					<option>2009</option>
					<option>2008</option>
					<option>2007</option>
					<option>2006</option>
					<option>2005</option>
					<option>2004</option>
					<option>2003</option>
					<option>2002</option>
					<option>2001</option>
					<option>2000</option>
					<option>1999</option>
				</select>

				<!--Modelo-->
				<select id="caixa-selecao">
					<option value="*" selected>Modelo</option>
					<option value="carro">Carro</option>
					<option>Moto</option>
					<option>Caminhão</option>
					<option>Nautica</option>
				</select>
				<!--Cor-->
				<select id="caixa-selecao">
					<option value="*" selected>Cor</option>
					<option>Carro</option>
					<option>Moto</option>
					<option>Caminhão</option>
					<option>Nautica</option>
				</select>
			</div>
    </div>
       <!--Fim container-->

       <!--Anunciantes-->
       <div class="coluna-anuncios">
		aNUNCIOS
	</div>



</body>
</html>
