
<!DOCTYPE html>
<html>
<head>
    {% extends 'nix/base.html' %}
    <title>{% block title %}Nix Auto{% endblock %}</title>
    <meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

</head>
<body>
   {% block content %}
       <!--Container principal-->
	<div id="main-container">
		<!--Header-->
		<div id="header">
			<!--Menu-->
			<div id="logo">
				<h1>Auto<span id="branco">Nix</span></h1>
				<h5>Classi<span id="branco">ficados</span></h5>
			</div>
			<!--Menu-->
			<!-- Area do Menu-->
			<div id="menu">
				<a href="index.html">Home</a>
				<a href="carro.html">Carros</a>
				<a href="motos.html">Motos</a>
				<a href="anunciar.html">Como Anunciar seus veiculos</a>
				<a href="contato.html">Contatos</a>
			</div>
			<!-- Final da area de Menu-->

    </div>
       <!--Fim container-->


    <!--Rodape-->
	<div  id="rodape">
					rodape2
				</div>
{% endblock %}

</body>
</html>